<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<insert id="insertNotice">
		<selectKey keyProperty="noticeNo" resultType="int" order="BEFORE">
			SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE (
			NOTICE_NO,
			TITLE,
			POST_DATE,
			NOTICE_CONTENT
			)
		VALUES (
		#{noticeNo}, #{title}, DEFAULT, #{noticeContent}
		)
	</insert>
	
	<insert id="insertPatchnote">
		<selectKey keyProperty="patchnoteNo" resultType="int" order="BEFORE">
			SELECT SEQ_PATCHNOTE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PATCHNOTE (
			PATCHNOTE_NO,
			GAME_CODE,
			TITLE,
			POST_DATE,
			PATCHNOTE_CONTENT
			)
		VALUES (
		#{patchnoteNo}, #{gameCode}, #{title}, DEFAULT, #{patchnoteContent}
		)
	</insert>
	
	<select id="selectRecentNotice" resultType="notice">
	    SELECT * FROM (
	        SELECT TITLE, POST_DATE
	        FROM NOTICE
	        ORDER BY NOTICE_NO DESC
	    )
	    WHERE ROWNUM = 1
	</select>
	
	<select id="selectRecentPatchnote" resultType="patchnote">
	    SELECT * FROM (
	        SELECT TITLE, POST_DATE
	        FROM PATCHNOTE
	        ORDER BY PATCHNOTE_NO DESC
	    )
	    WHERE ROWNUM = 1
	</select>

	<select id="selectInquiryList" resultType="inquiry">
		SELECT BOARD_NO AS boardNo ,
		 	   GAME_CODE AS gameCode ,
		 	   BOARD_CONTENT AS boardContent ,
		 	   BOARD_TITLE AS boardTitle,
		 	   USER_NAME AS userName ,
		 	   POST_DATE AS postDate ,
		 	   ANSWER_STATUS AS answerStatus
		FROM INQUIRY
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectMemberList" resultType="member">
		SELECT USER_NO AS userNo ,
			   USER_ID as userId ,
			   USER_NAME as userName ,
			   EMAIL as email ,
			   WITHDRAW as withdraw ,
			   ENROLL_DATE as enrollDate
		FROM LOG_GG_USER
		ORDER BY USER_NO DESC
	</select>
	
	<update id="deleteMember">
		UPDATE LOG_GG_USER
		SET WITHDRAW = 'Y'
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updateUserWithdraw" parameterType="map">
	    UPDATE LOG_GG_USER 
	    SET WITHDRAW = UPPER(TRIM(#{withdraw})) 
	    WHERE USER_NO = #{userNo}
	</update>
	



















</mapper>