	# Created by https://www.toptal.com/developers/gitignore/api/java,windows,maven,eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=java,windows,maven,eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Eclipse m2e generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/java,windows,maven,eclipse
Team200/src/main/webapp/WEB-INF/views/admin/1대1 문의 관리.html
Team200/src/main/webapp/WEB-INF/views/admin/noticeinsert.jsp
Team200/src/main/webapp/WEB-INF/views/admin/patchnoteinsert.jsp
Team200/src/main/webapp/WEB-INF/views/admin/공지사항, 패치노트 목록.html
Team200/src/main/webapp/WEB-INF/views/admin/관리자 마이페이지.html
Team200/src/main/webapp/WEB-INF/views/admin/관리자 메인페이지.html
Team200/src/main/webapp/WEB-INF/views/admin/전체 회원 목록 조회.html
Team200/src/main/webapp/WEB-INF/views/admin/회원 게시물, 댓글 관리.html
Team200/src/main/webapp/WEB-INF/views/board/boardinsert.jsp
Team200/src/main/webapp/WEB-INF/views/board/boardlist.jsp
Team200/src/main/webapp/WEB-INF/views/board/inquiryenroll.jsp
Team200/src/main/webapp/WEB-INF/views/board/inquirylist.jsp
Team200/src/main/webapp/WEB-INF/views/board/작성된글확인.html
Team200/src/main/webapp/WEB-INF/views/gallery/갤러리.html
Team200/src/main/webapp/WEB-INF/views/gallery/갤러리작성페이지.html
Team200/src/main/webapp/WEB-INF/views/mypage/개인정보수정.html
Team200/src/main/webapp/WEB-INF/views/mypage/게시글 및 댓글 조회.html
Team200/src/main/webapp/WEB-INF/views/mypage/게시판 수정관리.html
Team200/src/main/webapp/WEB-INF/views/mypage/댓글 수정관리.html
Team200/src/main/webapp/WEB-INF/views/mypage/로그인.html
Team200/src/main/webapp/WEB-INF/views/mypage/마이페이지.html
Team200/src/main/webapp/WEB-INF/views/mypage/아이디비번찾기.html
Team200/src/main/webapp/WEB-INF/views/mypage/회원가입.html
Team200/src/main/webapp/WEB-INF/views/mypage/회원탈퇴1.html
Team200/src/main/webapp/WEB-INF/views/mypage/회원탈퇴2.html
