<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="battlegroundMapper">

	<insert id="insertBagItem" parameterType="bagItemInfoVO">
		INSERT INTO
		BAG_ITEM_INFO (
		ITEM_NO, CATEGORY_NO, ITEM_NAME, ITEM_INFO, ITEM_IMG, ITEM_TYPE
		) VALUES (
		SEQ_ITEM_NO.NEXTVAL, #{categoryNo}, #{itemName}, #{itemInfo},
		#{itemImg}, #{itemType}
		)
	</insert>

	<select id="checkItemCount" resultType="int">
		SELECT COUNT(*) FROM BAG_ITEM_INFO
	</select>
</mapper>