<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
	<insert id="insertMember">
		INSERT INTO LOG_GG_USER (
			USER_NO, USER_ID, USER_PW, USER_NAME, EMAIL, STATUS, WITHDRAW, ENROLL_DATE, MODIFIED_DATE, USER_ROLE
		) VALUES (
			SEQ_USER_NO.NEXTVAL, #{userId}, #{userPwd}, #{userName}, #{email}, DEFAULT, DEFAULT, DEFAULT, NULL, DEFAULT
		)
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) 
		FROM LOG_GG_USER 
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="nameCheck" resultType="int">
		SELECT COUNT(*) 
		FROM LOG_GG_USER 
		WHERE USER_NAME = #{userName}
	</select>
	
	<select id="selectOne" resultType="member">
		SELECT * FROM LOG_GG_USER
		WHERE USER_ID = #{userId}
	</select>
	
	<update id="updateMember">
		UPDATE LOG_GG_USER 
		SET 
		    USER_NAME = #{userName},
			<if test="userPwd != null and userPwd != ''">
			USER_PW = #{userPwd},
			MODIFIED_DATE = SYSDATE ,
			</if>
		    EMAIL = #{email}
			WHERE USER_ID = #{userId}
		    AND STATUS = 'Y'
	</update>	
	
	<update id="deleteMember">
		UPDATE LOG_GG_USER
		SET 
			STATUS = 'N',      
			WITHDRAW = 'Y'     
		WHERE USER_ID = #{userId}	
	</update>	
	
</mapper>