<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="lolMapper">

    <select id="selectAllChampions" resultType="com.semi.spring.lol.model.vo.ChampionVO">
        SELECT
            CHAMP_NAME AS champName,       CHAMP_POSITION AS champPosition,
            CHAMP_ROLES AS champRoles,
            CHAMP_IMG AS champImg
        FROM CHAMP_INFO
        ORDER BY CHAMP_NAME ASC
    </select>
    
    <insert id="insertChampion" parameterType="com.semi.spring.lol.model.vo.ChampionVO">
        INSERT INTO CHAMP_INFO (
            CHAMP_NO,
            CHAMP_NAME,
            CHAMP_POSITION,
            CHAMP_ROLES,
            CHAMP_IMG
        ) VALUES (
            SEQ_CHAMP_NO.NEXTVAL, 
            #{champName},
            #{champPosition},
            #{champRoles},
            #{champImg}
        )
    </insert>

</mapper>