<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="lolMapper">

	<select id="selectAllChampions" resultType="championVO">
		SELECT
		CHAMP_NO AS champNo,
		CHAMP_NAME AS champName,
		CHAMP_POSITION AS champPosition,
		CHAMP_ROLES AS champRoles,
		CHAMP_IMG AS champImg,
		CHAMP_INTRO AS champIntro,
		CHAMP_NAME AS id FROM CHAMP_INFO
		ORDER BY CHAMP_NAME ASC
	</select>

	<resultMap id="champDetailMap" type="championVO">
		<id property="champNo" column="CHAMP_NO" />
		<result property="champName" column="CHAMP_NAME" />
		<result property="champPosition" column="CHAMP_POSITION" />
		<result property="champImg" column="CHAMP_IMG" />
		<result property="champIntro" column="CHAMP_INTRO" />

		<association property="skills" javaType="skillVO">
			<result property="skillPName" column="SKILL_P_NAME" />
			<result property="skillPDesc" column="SKILL_P_DESC" />
			<result property="skillPImg" column="SKILL_P_IMG" />
			<result property="skillQName" column="SKILL_Q_NAME" />
			<result property="skillQDesc" column="SKILL_Q_DESC" />
			<result property="skillQImg" column="SKILL_Q_IMG" />
			<result property="skillWName" column="SKILL_W_NAME" />
			<result property="skillWDesc" column="SKILL_W_DESC" />
			<result property="skillWImg" column="SKILL_W_IMG" />
			<result property="skillEName" column="SKILL_E_NAME" />
			<result property="skillEDesc" column="SKILL_E_DESC" />
			<result property="skillEImg" column="SKILL_E_IMG" />
			<result property="skillRName" column="SKILL_R_NAME" />
			<result property="skillRDesc" column="SKILL_R_DESC" />
			<result property="skillRImg" column="SKILL_R_IMG" />
		</association>

		<collection property="skins" ofType="skinVO">
			<id property="champSkinNo" column="CHAMP_SKIN_NO" />
			<result property="champSkinName" column="CHAMP_SKIN_NAME" />
			<result property="champSkinImg" column="CHAMP_SKIN_IMG" />
		</collection>
	</resultMap>

	<select id="getChampDetail" parameterType="_int"
		resultMap="champDetailMap">
		SELECT
		C.CHAMP_NO, C.CHAMP_NAME, C.CHAMP_IMG, C.CHAMP_INTRO,
		CASE
		WHEN LOWER(C.CHAMP_POSITION) LIKE '%assassin%' THEN '암살자'
		WHEN LOWER(C.CHAMP_POSITION) LIKE '%fighter%' THEN '전사'
		WHEN LOWER(C.CHAMP_POSITION) LIKE '%mage%' THEN '마법사'
		WHEN LOWER(C.CHAMP_POSITION) LIKE '%marksman%' THEN '원거리 딜러'
		WHEN LOWER(C.CHAMP_POSITION) LIKE '%support%' THEN '서포터'
		WHEN LOWER(C.CHAMP_POSITION) LIKE '%tank%' THEN '탱커'
		ELSE C.CHAMP_POSITION
		END as CHAMP_POSITION,
		S.*,
		K.CHAMP_SKIN_NO, K.CHAMP_SKIN_NAME, K.CHAMP_SKIN_IMG
		FROM CHAMP_INFO C
		LEFT JOIN CHAMP_SKILLS_INFO S ON C.CHAMP_NO = S.CHAMP_NO
		LEFT JOIN CHAMP_SKIN_INFO K ON C.CHAMP_NO = K.CHAMP_NO
		WHERE C.CHAMP_NO = #{champNo}
	</select>

	<select id="selectRecommendBuild" parameterType="_int"
		resultType="map">
		SELECT
		R.CHAMP_NO,
		I1.ITEM_NAME as ITEM1_NAME, I1.ITEM_IMG as ITEM1_IMG,
		I2.ITEM_NAME as ITEM2_NAME, I2.ITEM_IMG as ITEM2_IMG,
		I3.ITEM_NAME as ITEM3_NAME, I3.ITEM_IMG as ITEM3_IMG,
		T1.TALENT_NAME as RUNE1_NAME, T1.TALENT_IMG as RUNE1_IMG,
		T2.TALENT_NAME as RUNE2_NAME, T2.TALENT_IMG as RUNE2_IMG,
		T3.TALENT_NAME as RUNE3_NAME, T3.TALENT_IMG as RUNE3_IMG,
		T4.TALENT_NAME as RUNE4_NAME, T4.TALENT_IMG as RUNE4_IMG
		FROM CHAMP_RECOMMEND_INFO R
		LEFT JOIN LOL_ITEM_INFO I1 ON R.ITEM_NO_1 = I1.ITEM_NO
		LEFT JOIN LOL_ITEM_INFO I2 ON R.ITEM_NO_2 = I2.ITEM_NO
		LEFT JOIN LOL_ITEM_INFO I3 ON R.ITEM_NO_3 = I3.ITEM_NO
		LEFT JOIN TALENT_INFO T1 ON R.TALENT_NO_1 = T1.TALENT_NO
		LEFT JOIN TALENT_INFO T2 ON R.TALENT_NO_2 = T2.TALENT_NO
		LEFT JOIN TALENT_INFO T3 ON R.TALENT_NO_3 = T3.TALENT_NO
		LEFT JOIN TALENT_INFO T4 ON R.TALENT_NO_4 = T4.TALENT_NO
		WHERE R.CHAMP_NO = #{champNo}
	</select>

	<insert id="insertRecommendBuild"
		parameterType="recommendBuildVO">
		MERGE INTO CHAMP_RECOMMEND_INFO R
		USING DUAL
		ON (R.CHAMP_NO = #{champNo})
		WHEN MATCHED THEN
		UPDATE SET
		ITEM_NO_1 = #{itemNo1},
		ITEM_NO_2 = #{itemNo2},
		ITEM_NO_3 = #{itemNo3},
		TALENT_NO_1 = #{talentNo1},
		TALENT_NO_2 = #{talentNo2},
		TALENT_NO_3 = #{talentNo3},
		TALENT_NO_4 = #{talentNo4}
		WHEN NOT MATCHED THEN
		INSERT (
		CHAMP_NO, ITEM_NO_1, ITEM_NO_2, ITEM_NO_3,
		TALENT_NO_1, TALENT_NO_2, TALENT_NO_3, TALENT_NO_4
		) VALUES (
		#{champNo}, #{itemNo1}, #{itemNo2}, #{itemNo3},
		#{talentNo1}, #{talentNo2}, #{talentNo3}, #{talentNo4}
		)
	</insert>

	<insert id="insertItem" parameterType="LolItemVO">
		INSERT INTO LOL_ITEM_INFO (ITEM_NO, ITEM_NAME, ITEM_PRICE, ITEM_INFO,
		ITEM_IMG, ITEM_TAG)
		VALUES (#{itemNo}, #{itemName}, #{itemPrice}, #{itemInfo}, #{itemImg},
		#{itemTag})
	</insert>

	<insert id="replaceRecommendBuild"
		parameterType="com.semi.spring.lol.model.vo.RecommendBuildVO">
		MERGE INTO RECOMMEND_BUILD
		USING DUAL
		ON (CHAMP_NO = #{champNo})
		WHEN MATCHED THEN
		UPDATE SET
		ITEM_NO1 = #{itemNo1},
		ITEM_NO2 = #{itemNo2},
		ITEM_NO3 = #{itemNo3},
		TALENT_NO1 = #{talentNo1},
		TALENT_NO2 = #{talentNo2},
		TALENT_NO3 = #{talentNo3},
		TALENT_NO4 = #{talentNo4}
		WHEN NOT MATCHED THEN
		INSERT (CHAMP_NO, ITEM_NO1, ITEM_NO2, ITEM_NO3, TALENT_NO1, TALENT_NO2,
		TALENT_NO3, TALENT_NO4)
		VALUES (#{champNo}, #{itemNo1}, #{itemNo2}, #{itemNo3}, #{talentNo1},
		#{talentNo2}, #{talentNo3}, #{talentNo4})
	</insert>
</mapper>