<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="lolMapper">

	<select id="selectAllChampions" resultType="championVO">
		SELECT CHAMP_NO AS champNo, 
		       CHAMP_NAME AS champName,
		       CHAMP_POSITION AS champPosition,
		       CHAMP_ROLES AS champRoles,
		       CHAMP_IMG AS champImg, 
		       CHAMP_INTRO AS champIntro,
		       CHAMP_NAME AS id
		FROM CHAMP_INFO
		ORDER BY CHAMP_NAME ASC
	</select>

	<insert id="insertChampion" parameterType="championVO">
		MERGE INTO CHAMP_INFO C
		USING DUAL
		ON (C.CHAMP_NAME = #{champName})
		WHEN MATCHED THEN
			UPDATE SET
				CHAMP_POSITION = #{champPosition},
				CHAMP_ROLES = #{champRoles},
				CHAMP_IMG = #{champImg},
				CHAMP_INTRO = #{champIntro}
		WHEN NOT MATCHED THEN
			INSERT (CHAMP_NO, CHAMP_NAME, CHAMP_POSITION, CHAMP_ROLES, CHAMP_IMG, CHAMP_INTRO)
			VALUES (SEQ_CHAMP_NO.NEXTVAL, #{champName}, #{champPosition}, #{champRoles}, #{champImg}, #{champIntro})
	</insert>

	<insert id="insertChampionSkills" parameterType="skillVO">
		MERGE INTO CHAMP_SKILLS_INFO S
		USING DUAL
		ON (S.CHAMP_NO = #{champNo})
		WHEN MATCHED THEN
			UPDATE SET
				SKILL_P_NAME = #{skillPName}, SKILL_P_DESC = #{skillPDesc}, SKILL_P_IMG = #{skillPImg},
				SKILL_Q_NAME = #{skillQName}, SKILL_Q_DESC = #{skillQDesc}, SKILL_Q_IMG = #{skillQImg},
				SKILL_W_NAME = #{skillWName}, SKILL_W_DESC = #{skillWDesc}, SKILL_W_IMG = #{skillWImg},
				SKILL_E_NAME = #{skillEName}, SKILL_E_DESC = #{skillEDesc}, SKILL_E_IMG = #{skillEImg},
				SKILL_R_NAME = #{skillRName}, SKILL_R_DESC = #{skillRDesc}, SKILL_R_IMG = #{skillRImg}
		WHEN NOT MATCHED THEN
			INSERT (
				CHAMP_NO,
				SKILL_P_NAME, SKILL_P_DESC, SKILL_P_IMG,
				SKILL_Q_NAME, SKILL_Q_DESC, SKILL_Q_IMG,
				SKILL_W_NAME, SKILL_W_DESC, SKILL_W_IMG,
				SKILL_E_NAME, SKILL_E_DESC, SKILL_E_IMG,
				SKILL_R_NAME, SKILL_R_DESC, SKILL_R_IMG
			) VALUES (
				#{champNo},
				#{skillPName}, #{skillPDesc}, #{skillPImg},
				#{skillQName}, #{skillQDesc}, #{skillQImg},
				#{skillWName}, #{skillWDesc}, #{skillWImg},
				#{skillEName}, #{skillEDesc}, #{skillEImg},
				#{skillRName}, #{skillRDesc}, #{skillRImg}
			)
	</insert>

	<insert id="insertChampionSkin" parameterType="skinVO">
		INSERT INTO CHAMP_SKIN_INFO (
			CHAMP_SKIN_NO, CHAMP_NO, CHAMP_SKIN_NAME, CHAMP_SKIN_IMG
		) VALUES (
			SEQ_CHAMP_SKIN_NO.NEXTVAL, #{champNo},
			#{champSkinName}, #{champSkinImg}
		)
	</insert>

	<resultMap id="champDetailMap" type="championVO">
		<id property="champNo" column="CHAMP_NO" />
		<result property="champName" column="CHAMP_NAME" />
		<result property="champPosition" column="CHAMP_POSITION" />
		<result property="champImg" column="CHAMP_IMG" />
		<result property="champIntro" column="CHAMP_INTRO" />

		<association property="skills" javaType="skillVO">
			<result property="skillPName" column="SKILL_P_NAME" />
			<result property="skillPDesc" column="SKILL_P_DESC" />
			<result property="skillPImg" column="SKILL_P_IMG" />
			<result property="skillQName" column="SKILL_Q_NAME" />
			<result property="skillQDesc" column="SKILL_Q_DESC" />
			<result property="skillQImg" column="SKILL_Q_IMG" />
			<result property="skillWName" column="SKILL_W_NAME" />
			<result property="skillWDesc" column="SKILL_W_DESC" />
			<result property="skillWImg" column="SKILL_W_IMG" />
			<result property="skillEName" column="SKILL_E_NAME" />
			<result property="skillEDesc" column="SKILL_E_DESC" />
			<result property="skillEImg" column="SKILL_E_IMG" />
			<result property="skillRName" column="SKILL_R_NAME" />
			<result property="skillRDesc" column="SKILL_R_DESC" />
			<result property="skillRImg" column="SKILL_R_IMG" />
		</association>

		<collection property="skins" ofType="skinVO">
			<id property="champSkinNo" column="CHAMP_SKIN_NO" />
			<result property="champSkinName" column="CHAMP_SKIN_NAME" />
			<result property="champSkinImg" column="CHAMP_SKIN_IMG" />
		</collection>
	</resultMap>

	<select id="getChampDeta" parameterType="int" resultMap="champDetailMap">
		SELECT
			C.CHAMP_NO, C.CHAMP_NAME, C.CHAMP_IMG, C.CHAMP_INTRO,
			CASE
				WHEN LOWER(C.CHAMP_POSITION) LIKE '%assassin%' THEN '암살자'
				WHEN LOWER(C.CHAMP_POSITION) LIKE '%fighter%' THEN '전사'
				WHEN LOWER(C.CHAMP_POSITION) LIKE '%mage%' THEN '마법사'
				WHEN LOWER(C.CHAMP_POSITION) LIKE '%marksman%' THEN '원거리 딜러'
				WHEN LOWER(C.CHAMP_POSITION) LIKE '%support%' THEN '서포터'
				WHEN LOWER(C.CHAMP_POSITION) LIKE '%tank%' THEN '탱커'
				ELSE C.CHAMP_POSITION
			END as CHAMP_POSITION,
			S.*,
			K.CHAMP_SKIN_NO, K.CHAMP_SKIN_NAME, K.CHAMP_SKIN_IMG
		FROM CHAMP_INFO C
		LEFT JOIN CHAMP_SKILLS_INFO S ON C.CHAMP_NO = S.CHAMP_NO
		LEFT JOIN CHAMP_SKIN_INFO K ON C.CHAMP_NO = K.CHAMP_NO
		WHERE C.CHAMP_NO = #{champNo}
	</select>

	<select id="selectAllItems" resultType="LolItemVO">
		SELECT
			ITEM_NO AS itemNo,
			ITEM_NAME AS itemName,
			ITEM_PRICE AS itemPrice,
			ITEM_INFO AS itemInfo,
			ITEM_IMG AS itemImg,
			ITEM_TAG AS itemTag 
		FROM LOL_ITEM_INFO
		ORDER BY ITEM_PRICE ASC, ITEM_NAME ASC
	</select>

	<insert id="insertItem" parameterType="LolItemVO">
		MERGE INTO LOL_ITEM_INFO I
		USING DUAL
		ON (I.ITEM_NO = #{itemNo})
		WHEN MATCHED THEN
			UPDATE SET
				ITEM_NAME = #{itemName},
				ITEM_PRICE = #{itemPrice},
				ITEM_INFO = #{itemInfo},
				ITEM_IMG = #{itemImg},
				ITEM_TAG = #{itemTag}
		WHEN NOT MATCHED THEN
			INSERT (ITEM_NO, ITEM_NAME, ITEM_PRICE, ITEM_INFO, ITEM_IMG, ITEM_TAG)
			VALUES (#{itemNo}, #{itemName}, #{itemPrice}, #{itemInfo}, #{itemImg}, #{itemTag})
	</insert>

	<insert id="insertRune" parameterType="RuneVO">
		MERGE INTO RUNE_INFO R
		USING DUAL
		ON (R.RUNE_NAME = #{runeName})
		WHEN MATCHED THEN
			UPDATE SET RUNE_INFO = #{runeInfo}, RUNE_IMG = #{runeImg}
		WHEN NOT MATCHED THEN
			INSERT (RUNE_NO, RUNE_NAME, RUNE_INFO, RUNE_IMG)
			VALUES (SEQ_RUNE_NO.NEXTVAL, #{runeName}, #{runeInfo}, #{runeImg})
	</insert>

	<insert id="insertTalent" parameterType="TalentVO">
		INSERT INTO TALENT_INFO (
			TALENT_NO, RUNE_NO, TALENT_NAME, 
			TALENT_INFO, TALENT_IMG
		) VALUES (
			SEQ_TALENT_NO.NEXTVAL, #{runeNo}, #{talentName}, 
			#{talentInfo}, #{talentImg}
		)
	</insert>

	<select id="selectAllRunes" resultType="RuneVO">
		SELECT
			RUNE_NO as runeNo,
			RUNE_NAME as runeName,
			RUNE_INFO as runeInfo,
			RUNE_IMG as runeImg
		FROM RUNE_INFO
		ORDER BY RUNE_NO ASC
	</select>
	
	<select id="selectTalentsByRune" parameterType="int" resultType="TalentVO">
		SELECT
			TALENT_NO as talentNo,
			RUNE_NO as runeNo,
			TALENT_NAME as talentName,
			TALENT_INFO as talentInfo,
			TALENT_IMG as talentImg
		FROM TALENT_INFO
		WHERE RUNE_NO = #{runeNo}
		ORDER BY TALENT_NO ASC
	</select>

</mapper>