<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	
	<sql id="searchCondition">
		<if test="keyword != null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'title'">
					BOARD_TITLE LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'writer'">
					USER_NAME LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'content'">
					BOARD_CONTENT LIKE '%' || #{keyword} || '%'
				</when>
				<otherwise>
					(BOARD_TITLE LIKE '%' || #{keyword} || '%'
					OR BOARD_CONTENT LIKE '%' || #{keyword} || '%')
				</otherwise>
			</choose>
		</if>
	</sql>
	
	<select id="getBoardTypeMap" resultType="boardtype">
		SELECT
			CATEGORY_NO,
			CATEGORY_NAME,
			GAME_CODE
		FROM CATEGORY_TABLE
		<if test="gameCode != null">
			WHERE GAME_CODE = #{gameCode}
		</if>
		AND CATEGORY_NAME LIKE '%' || #{boardType} || '%'
		ORDER BY CATEGORY_NO ASC
	</select>
	
	<resultMap type="boardExt" id="boardMap" autoMapping="true">
		<id column="BOARD_NO" property="boardNo"/>

		<result column="READ_COUNT" property="readCount" />
		<result property="likeCount" column="likeCount"/>
		
		<association property="party" javaType="partyRecruit" autoMapping="true">
        <id column="BOARD_NO" property="boardNo"/>
        </association>
        
		<collection property="fileList" 
			javaType="List"
			ofType="attachFile" 
			select="selectBoardFileList" 
			column="BOARD_NO" />
	</resultMap>
	
	<select id="selectList" resultType="boardExt">
		SELECT *
			FROM (
				SELECT ROWNUM AS RNUM , T1.*
				FROM (
					SELECT
						B.BOARD_NO,
						B.USER_NO,
						B.BOARD_TITLE ,
						U.USER_NAME ,
						B.READ_COUNT AS readCount,
						B.POST_DATE AS postDate,
						C.GAME_CODE, 
						C.CATEGORY_NAME,
						(SELECT COUNT(*) FROM BOARD_LIKES L WHERE L.BOARD_NO = B.BOARD_NO) AS likeCount,
                		(SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO = B.BOARD_NO AND R.STATUS = 'Y') AS replyCount,
						(SELECT FILE_PATH || CHANGE_NAME 
                 FROM ATTACH_FILE F 
                 WHERE F.BOARD_NO = B.BOARD_NO 
                   AND ROWNUM = 1) AS thumbnail,
                   ROW_NUMBER() OVER (ORDER BY B.BOARD_NO ASC) AS dispNo
					FROM BOARD B
					LEFT JOIN LOG_GG_USER U ON B.USER_NO = U.USER_NO
					JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
					WHERE BOARD_CD = 'Y'
	 				AND C.GAME_CODE = #{gameCode} 
	 				<if test="categoryNo != null and categoryNo != 0">
	   			AND B.CATEGORY_NO = #{categoryNo} </if>
				<include refid="searchCondition"/>
			ORDER BY B.BOARD_NO DESC) T1
			)
		WHERE RNUM BETWEEN #{offset} AND #{limit}
	</select>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM BOARD B
		LEFT JOIN LOG_GG_USER U ON B.USER_NO = U.USER_NO
		WHERE BOARD_CD = 'Y'
			AND B.GAME_CODE = #{gameCode}
			<if test="categoryNo != null and categoryNo != 0">
		 	 AND B.CATEGORY_NO = #{categoryNo} 
			</if>
		<include refid="searchCondition"/>
	</select>
	
	<select id="selectBoard" resultMap="boardMap">
		SELECT B.BOARD_NO, B.USER_NO, B.CATEGORY_NO, B.GAME_CODE,
        B.BOARD_TITLE, B.BOARD_CONTENT, B.POST_DATE, B.BOARD_CD, B.READ_COUNT,
        U.USER_NAME,
        P.CAPACITY, P.TIER, P.PARTY_CURRENT, P.PREFER_MAP,
        C.CATEGORY_NAME,
        (SELECT COUNT(*) FROM BOARD_LIKES L WHERE L.BOARD_NO = B.BOARD_NO) AS likeCount
		FROM BOARD B
		LEFT JOIN LOG_GG_USER U ON B.USER_NO = U.USER_NO
		LEFT JOIN PARTY_RECRUIT P ON B.BOARD_NO = P.BOARD_NO
		LEFT JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
		WHERE B.BOARD_NO = #{boardNo} AND  B.BOARD_CD = 'Y'
	</select>

	<select id="selectBoardFileList" resultType="attachfile">
		SELECT *
		FROM ATTACH_FILE
		WHERE BOARD_NO = #{boardNo}
	</select>

	<insert id="insertBoard">
		<selectKey keyProperty="boardNo" resultType="int"
			order="BEFORE">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD (
			BOARD_NO,USER_NO,CATEGORY_NO, 
			GAME_CODE,
			BOARD_CONTENT,BOARD_TITLE,
			POST_DATE,BOARD_CD,READ_COUNT)
		VALUES (
		#{boardNo},#{userNo},#{categoryNo}, 
		#{gameCode},
		#{boardContent},#{boardTitle},
		DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<insert id="insertPartyRecruit">
		INSERT INTO PARTY_RECRUIT (
			BOARD_NO, 
			CAPACITY, 
			TIER, 
			PARTY_CURRENT, 
			PREFER_MAP
		) VALUES (
			#{boardNo}, #{capacity}, #{tier}, #{partyCurrent}, #{preferMap}
		)
	</insert>
	
	<insert id="insertBoardFile">
		INSERT INTO ATTACH_FILE (
		FILE_NO, BOARD_NO, GAME_CODE,ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_EXT, FILE_SIZE
		) VALUES (
		SEQ_FILE_NO.NEXTVAL, #{boardNo},#{gameCode}, #{originName}, #{changeName}, 
		#{filePath}, #{fileExt},#{fileSize}
		)
	</insert>
	
    <insert id="insertAttachFileList">
		INSERT INTO ATTACH_FILE (
		FILE_NO, BOARD_NO, GAME_CODE, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, FILE_EXT, FILE_SIZE
		)
		SELECT SEQ_FILE_NO.NEXTVAL, A.* FROM (
		<foreach collection="list" item="f" separator="UNION ALL">
			SELECT
			#{f.boardNo}, #{f.gameCode}, #{f.originName}, #{f.changeName},
			#{f.filePath}, #{f.fileExt}, #{f.fileSize}
			FROM DUAL
		</foreach>
		) A
	</insert>

	<insert id="insertReply">
		INSERT INTO REPLY (
		REPLY_NO, USER_NO, BOARD_NO, REPLY_CONTENT,PARENT_REPLY_NO
		) VALUES (
		SEQ_REPLY_NO.NEXTVAL, #{userNo}, #{boardNo}, #{replyContent} ,
		<choose>
            <when test="parentReplyNo == 0">
                NULL
            </when>
            <otherwise>
                #{parentReplyNo}
            </otherwise>
        </choose>
		)
	</insert>
	
	<select id="selectReplyList" resultType="reply">
    SELECT R.*,
           U.USER_NAME 
    FROM REPLY R
    JOIN LOG_GG_USER U ON R.USER_NO = U.USER_NO
    WHERE R.BOARD_NO = #{boardNo} 
    
    ORDER BY NVL(NULLIF(R.PARENT_REPLY_NO, 0), R.REPLY_NO) ASC, R.REPLY_DATE ASC
	</select>
	
	<update id="increaseCount">
		UPDATE BOARD
		SET 
			READ_COUNT = READ_COUNT + 1
		WHERE BOARD_NO = #{boardNo}
	</update>

	<update id="updateBoard">
		UPDATE BOARD
		SET 
			BOARD_TITLE = #{boardTitle},
			BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>

	<update id="updateBoardFile">
		UPDATE ATTACH_FILE
		SET 
			ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName},
			FILE_PATH = #{filePath}
		WHERE FILE_NO = #{fileNo}
	</update>
	
	<update id="updateReply">
    UPDATE REPLY
    SET 
        REPLY_CONTENT = #{replyContent},
        REPLY_DATE = SYSDATE 
    WHERE REPLY_NO = #{replyNo}
      AND USER_NO = #{userNo}
	</update>
	<update id="deleteBoard">
		UPDATE BOARD 
		SET 
			BOARD_CD = 'N' 
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="deleteReply">
	    UPDATE REPLY 
	    SET 
	        STATUS = 'N' 
	    WHERE REPLY_NO = #{replyNo}
	    
	    <if test="!isAdmin and userNo != null and userNo != 0">
	        AND USER_NO = #{userNo}
	    </if>
	</update>
	
	<delete id="deleteSelectedFile">
    DELETE FROM ATTACH_FILE
    WHERE FILE_NO = #{fileNo}
	</delete>
	
	<insert id="insertReport">
    INSERT INTO REPORT (
        REPORT_NO, 
        USER_NO, BOARD_NO, REPLY_NO, 
        REPORT_CONTENT, REPORT_TYPE, STATUS
    ) VALUES (
        SEQ_REPORT_NO.NEXTVAL, 
        #{userNo}, #{boardNo, jdbcType=INTEGER}, #{replyNo, jdbcType=INTEGER}, 
        #{reportContent}, #{reportType}, DEFAULT
    )
	</insert>
	
	<select id="selectReport" resultType="report">
    SELECT 
        R.*, U.USER_NAME
    FROM REPORT R
    JOIN LOG_GG_USER U ON R.USER_NO = U.USER_NO
    ORDER BY REPORT_NO DESC
	</select>

	<update id="updateReport">
    UPDATE REPORT 
    SET 
        STATUS = 'Y',
        DONE_DATE = SYSDATE
    WHERE REPORT_NO = #{reportNo}
	</update>

	<select id="selectNotice" resultType="notice">
		SELECT 
        	NOTICE_NO, 
        	TITLE, 
        	POST_DATE
    	FROM NOTICE
    	ORDER BY NOTICE_NO DESC	
	</select>
	
	<select id="selectNoticeDetail" resultType="notice">
    	SELECT * FROM NOTICE
    	WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<insert id="insertNotice">
		INSERT INTO NOTICE (
			NOTICE_NO,TITLE,
			 NOTICE_CONTENT,POST_DATE
		) VALUES (
			SEQ_NOTICE_NO.NEXTVAL,
			#{title},#{noticeContent},SYSDATE	
		)
	</insert>
	
	<update id="updateNotice">
    UPDATE NOTICE
    SET 
        TITLE = #{title},
        NOTICE_CONTENT = #{noticeContent}
    WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	
	<select id="selectPatchnoteList" resultType="patchnote">
    SELECT * FROM PATCHNOTE
    <where>
        <if test="gameCode != null and gameCode != ''">
            GAME_CODE = #{gameCode}
        </if>
    </where>
    ORDER BY PATCHNOTE_NO DESC
	</select>

	<select id="selectPatchnoteDetail" resultType="patchnote">
    SELECT * FROM PATCHNOTE
    WHERE PATCHNOTE_NO = #{patchnoteNo}
	</select>

	<insert id="insertPatchnote">
    INSERT INTO PATCHNOTE (
        PATCHNOTE_NO, 
        GAME_CODE, 
        TITLE, 
        PATCHNOTE_CONTENT,POST_DATE
    ) VALUES (
        SEQ_PATCHNOTE_NO.NEXTVAL, 
        #{gameCode}, 
        #{title}, 
        #{patchnoteContent},SYSDATE
    )
	</insert>

	<update id="updatePatchnote">
    UPDATE PATCHNOTE
    SET 
        GAME_CODE = #{gameCode},
        TITLE = #{title},
        PATCHNOTE_CONTENT = #{patchnoteContent}
    WHERE PATCHNOTE_NO = #{patchnoteNo}
	</update>
	
	<select id="selectInquiryList" resultType="inquiry">
	SELECT 
        BOARD_NO, 
        BOARD_TITLE, 
        USER_NAME,
        GAME_CODE,
        REASON, 
        POST_DATE, 
        ANSWER_STATUS
    	FROM INQUIRY
    WHERE USER_NO = #{userNo}
    <if test="gameCode != null and gameCode != 'all'">
        AND GAME_CODE = #{gameCode}
    </if>
    ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectInquiryDetail" resultType="inquiry">
		SELECT * FROM INQUIRY
		WHERE BOARD_NO = #{boardNo}		
	</select>
	
	<select id="selectAdminInquiryList" resultType="inquiry">
    SELECT * FROM INQUIRY
    ORDER BY 
        CASE WHEN ANSWER_STATUS = 'W' THEN 1 ELSE 2 END, 
        POST_DATE ASC
	</select>
	
	<select id="selectInquiryCount" resultType="_int">
    SELECT COUNT(*) 
    FROM INQUIRY 
    WHERE USER_NO = #{userNo}
    <if test="gameCode != null and gameCode != 'all'">
        AND GAME_CODE = #{gameCode} 
    </if>
	</select>

	<insert id="insertInquiry">
		<selectKey keyProperty="boardNo" resultType="int" order="BEFORE">
        SELECT SEQ_INQUIRY_NO.NEXTVAL FROM DUAL
   		</selectKey>
    INSERT INTO INQUIRY (
        BOARD_NO, USER_NO, USER_NAME, 
        BOARD_TITLE, BOARD_CONTENT, REASON, 
        GAME_CODE,
        POST_DATE,ANSWER_STATUS, ANSWER
    ) VALUES (
        #{boardNo}, #{userNo}, #{userName}, 
        #{boardTitle}, #{boardContent}, #{reason}, 
        #{gameCode},
        SYSDATE, DEFAULT, DEFAULT
    )
	</insert>
	
	<update id="updateInquiry">
		UPDATE INQUIRY
    SET 
        ANSWER = #{answer},
        ANSWER_STATUS = 'C'
    WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteInquiry">
    DELETE FROM INQUIRY 
    WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<insert id="insertBoardLike" parameterType="boardLike">
    INSERT INTO BOARD_LIKES (USER_NO, BOARD_NO) 
    VALUES (#{userNo}, #{boardNo})
	</insert>
	
	<select id="checkBoardLike" parameterType="boardLike" resultType="int">
    SELECT COUNT(*) FROM BOARD_LIKES 
    WHERE USER_NO = #{userNo} AND BOARD_NO = #{boardNo}
	</select>

	<select id="selectBoardLikeCount" resultType="int">
    SELECT COUNT(*) 
    FROM BOARD_LIKES 
    WHERE BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertReplyLike" parameterType="replyLike">
    INSERT INTO REPLY_LIKES (USER_NO, REPLY_NO) 
    VALUES (#{userNo}, #{replyNo})
	</insert>

	<select id="checkReplyLike" parameterType="replyLike" resultType="int">
    SELECT COUNT(*) FROM REPLY_LIKES 
    WHERE USER_NO = #{userNo} AND REPLY_NO = #{replyNo}
	</select>	
	
	<select id="selectMyBoards" resultType="board">
	SELECT * FROM (
		SELECT ROWNUM AS RNUM, T1.* FROM (	
		    SELECT 
		        B.BOARD_NO,
		        B.BOARD_TITLE,
		        B.POST_DATE,
		        B.READ_COUNT as readCount,
		        B.GAME_CODE,
		        U.USER_NAME,
		        C.CATEGORY_NAME,
		        (SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO = B.BOARD_NO AND R.STATUS = 'Y') AS replyCount,
		        (SELECT COUNT(*) FROM BOARD_LIKES L WHERE L.BOARD_NO = B.BOARD_NO) AS likeCount
		    FROM BOARD B
		    JOIN LOG_GG_USER U ON B.USER_NO = U.USER_NO
		    JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
		    WHERE B.USER_NO = #{userNo}
		    	AND B.BOARD_CD = 'Y'
		    	<if test="gameCode != null and gameCode != '' and gameCode != 'all'">
	              AND B.GAME_CODE = #{gameCode}
	            </if>
		    ORDER BY B.BOARD_NO DESC
    	)T1
    ) WHERE RNUM BETWEEN #{offset} AND #{limit}
	</select>
	
	<select id="selectMyReplies" resultType="map">
	SELECT * FROM (
		SELECT ROWNUM AS RNUM , T1.* FROM(
		    SELECT 
		        R.REPLY_NO,
		        DBMS_LOB.SUBSTR(R.REPLY_CONTENT, 4000, 1) AS REPLY_CONTENT,
		        R.REPLY_DATE,
		        B.BOARD_NO,
		        B.BOARD_TITLE,
		        U.USER_NAME,
		        C.CATEGORY_NAME,
		        B.GAME_CODE
		    FROM REPLY R
		    JOIN LOG_GG_USER U ON R.USER_NO = U.USER_NO
		    JOIN BOARD B ON R.BOARD_NO = B.BOARD_NO 
		    JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
		    WHERE R.USER_NO = #{userNo}
		      AND R.STATUS = 'Y'
		      AND B.BOARD_CD = 'Y'
		      <if test="gameCode != null and gameCode != '' and gameCode != 'all'">
              AND B.GAME_CODE = #{gameCode}
            </if>
		    ORDER BY R.REPLY_NO DESC
			) T1
		)WHERE RNUM BETWEEN #{offset} AND #{limit}
	</select>
	
	<select id="selectMyBoardsCount" resultType="int">
    SELECT COUNT(*)
    FROM BOARD
    WHERE USER_NO = #{userNo} 
    AND BOARD_CD = 'Y'
	    <if test="gameCode != null and gameCode != 'all'">
		    AND GAME_CODE = #{gameCode}
		</if>
	</select>

	<select id="selectMyRepliesCount" resultType="int">
    SELECT COUNT(*)
    FROM REPLY R
    JOIN BOARD B ON R.BOARD_NO = B.BOARD_NO
    WHERE R.USER_NO = #{userNo} 
    AND R.STATUS = 'Y' 
    AND B.BOARD_CD = 'Y'
	    <if test="gameCode != null and gameCode != 'all'">
		    AND B.GAME_CODE = #{gameCode}
		</if>
	</select>
		
	<update id="deleteMyReplies">
	    UPDATE REPLY
	    SET STATUS = 'N' 
	    WHERE USER_NO = #{userNo}
	    AND REPLY_NO IN
	    <foreach item="rNo" collection="replyNos" open="(" separator="," close=")">
	        #{rNo}
	    </foreach>
	</update>
	
	<select id="selectBestBoards" resultType="boardExt" parameterType="string">
    SELECT * FROM (
        SELECT 
            B.BOARD_NO,
            B.BOARD_TITLE,
            B.READ_COUNT AS readCount,
            B.GAME_CODE,
            U.USER_NAME,
            C.CATEGORY_NAME,
            B.POST_DATE,
            (SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO = B.BOARD_NO AND R.STATUS = 'Y') AS replyCount,
            (SELECT COUNT(*) FROM BOARD_LIKES L WHERE L.BOARD_NO = B.BOARD_NO) AS likeCount
        FROM BOARD B
        LEFT JOIN LOG_GG_USER U ON B.USER_NO = U.USER_NO
        LEFT JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
        WHERE B.BOARD_CD = 'Y' 
          AND B.POST_DATE >= SYSDATE - 7  
          <if test="gameCode != null and gameCode != 'ALL'">
              AND B.GAME_CODE = #{gameCode}
          </if>
          ORDER BY likeCount DESC, B.READ_COUNT DESC, B.BOARD_NO DESC
    ) 
    WHERE ROWNUM &lt;= 5 
    </select>
    	
    <!-- 갤러리 -->	
    <select id="selectGalleryList" resultType="boardExt">
    SELECT *
	    FROM (
	        SELECT ROWNUM AS RNUM, T1.*
	        FROM (
	            SELECT
	                B.BOARD_NO,
	                B.BOARD_TITLE,
	                U.USER_NAME,
	                B.READ_COUNT AS readCount,
	                B.POST_DATE AS postDate,
	                B.GAME_CODE,
	                
	                (SELECT COUNT(*) FROM BOARD_LIKES L WHERE L.BOARD_NO = B.BOARD_NO) AS likeCount,
	                
	                (SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO = B.BOARD_NO AND R.STATUS = 'Y') AS replyCount,
	                
	                (
	                    SELECT MAX(CHANGE_NAME) KEEP (DENSE_RANK FIRST ORDER BY FILE_NO ASC)
	                    FROM ATTACH_FILE F 
	                    WHERE F.BOARD_NO = B.BOARD_NO
	                ) AS thumbnail
	                
	            FROM BOARD B
	            LEFT JOIN LOG_GG_USER U ON B.USER_NO = U.USER_NO
	            JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
	            
	            WHERE B.BOARD_CD = 'Y' /* Y: 활성화된 게시글 */
	              AND C.CATEGORY_NAME = '갤러리'
	              
	              <if test="gameCode != null and gameCode != 'all'">
	                AND B.GAME_CODE = UPPER(#{gameCode})
	              </if>
	              
	            ORDER BY B.BOARD_NO DESC
	        ) T1
	    )
	    WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	
	<select id="selectGalleryCount" resultType="int">
	    SELECT COUNT(*)
	    FROM BOARD B
	    JOIN CATEGORY_TABLE C ON B.CATEGORY_NO = C.CATEGORY_NO
	    WHERE B.BOARD_CD = 'Y'
	      AND C.CATEGORY_NAME = '갤러리'
	      <if test="gameCode != null and gameCode != 'all'">
	        AND B.GAME_CODE = UPPER(#{gameCode})
	      </if>
	</select>
	
	
	<select id="selectCategoryNoByName" resultType="int">
	    SELECT CATEGORY_NO 
	    FROM CATEGORY_TABLE 
	    WHERE GAME_CODE = UPPER(#{gameCode}) 
	      AND CATEGORY_NAME = #{categoryName}
	</select>
	
	
	<!--  -->
	
	<select id="selectInfoReplies" resultType="gameInfoReply">
	    SELECT 
	        R.INFO_REPLY_NO, 
	        R.USER_NO, 
	        R.GAME_CODE,
	        R.TARGET_NO,
	        R.PARENT_REPLY_NO,
	        DBMS_LOB.SUBSTR(R.REPLY_CONTENT, 4000, 1) AS REPLY_CONTENT, 
	        R.REPLY_DATE, 
	        U.USER_NAME 
	    FROM GAME_INFO_REPLY R
	    JOIN LOG_GG_USER U ON R.USER_NO = U.USER_NO
	    WHERE R.GAME_CODE = #{gameCode} 
	      AND R.TARGET_NO = #{targetNo}
	      AND R.STATUS = 'Y'
	    ORDER BY NVL(R.PARENT_REPLY_NO, R.INFO_REPLY_NO) DESC, R.INFO_REPLY_NO ASC
	</select>
	
	<insert id="insertInfoReply">
	    INSERT INTO GAME_INFO_REPLY (
	        INFO_REPLY_NO, 
	        USER_NO, 
	        GAME_CODE, 
	        TARGET_NO, 
	        REPLY_CONTENT,
	        PARENT_REPLY_NO
	    ) VALUES (
	        SEQ_INFO_REPLY_NO.NEXTVAL, 
	        #{userNo}, 
	        #{gameCode}, 
	        #{targetNo}, 
	        #{replyContent},
	        DECODE(#{parentReplyNo}, 0, NULL, #{parentReplyNo, jdbcType=INTEGER})
	    )
	</insert>
	
	<update id="deleteInfoReply">
	    UPDATE GAME_INFO_REPLY
	    SET STATUS = 'N'
	    WHERE INFO_REPLY_NO = #{infoReplyNo}
	      <if test="!admin">
		        AND USER_NO = #{userNo}
		    </if>
	</update>
</mapper>